# PHP 2020

## 5. PHP Data Objects

### 5.1 Databases

#### MySQL

First, let us list currently running Docker containers:

In [ ]:
! docker ps

There should be only single container for this notebook.

Now we can start the ```mysql/mysql-server:8.0``` image:

In [ ]:
! docker run \
    --name=mysql \
    --net=host \
    --rm \
    --env MYSQL_ROOT_PASSWORD=root123 \
    --env MYSQL_DATABASE=test \
    --env MYSQL_USER=test \
    --env MYSQL_PASSWORD=test123 \
    -d mysql/mysql-server:8.0

The databse container named ```mysql``` (```--name=mysql```) will run on the same network as this notebbok (```--net=host```). The contents of the database will be removed after container is stopped (```--rm```). The root password is set to ```test123``` (```--env MYSQL_ROOT_PASSWORD=root123```). Clients will use the ```test``` databse (```--env MYSQL_DATABASE=test```) and ```test``` user (```--env MYSQL_USER=test```) with password ```test123``` (```--env MYSQL_PASSWORD=test123```).

The ```mysql``` container should now be visible:

In [ ]:
! docker ps

It takse some tmie to start the database:

In [ ]:
! while ! timeout 1 bash -c "echo > /dev/tcp/localhost/3306" 2> /dev/null; \
  do \
    echo "Waiting for MySQL..."; \
    sleep 1; \
  done; \
  echo "Done."

When done, the port ```3306``` should be opened.

If something goes wrong, logs can be checked using:

In [ ]:
! docker logs mysql

Open bash session and connect to server using docker mysql client image:

```bash
docker run -it --net host --rm mysql mysql -h127.0.0.1 -utest -p
```

You have to type ```test123``` as password.

Example commands that can be excued in MySQL:

```sql
-- Show available databses
show databases;

-- Select database you are interested in
use test;

-- Show available tables
show tables;

-- Create new table
CREATE TABLE test (id INT PRIMARY KEY, value TEXT);

-- Show table format
DESCRIBE test;

-- Insert some values
INSERT INTO test VALUES (1, "PL"), (2, "EN");

-- Select all rows
SELECT * FROM test;

-- Drop table
DROP TABLE test;

-- Finish session
exit
```

To stop the database execute:

In [ ]:
! docker container stop mysql

### SQLite

Open bash session and open the databse using ```sqlite3``` command:

```bash
sqlite3 /tmp/sqlite.db 
```

Example commands that can be excued in SQLite:

```sql
-- Non-SQL command start with dot '.' - for help type:
.help

-- Show tables
.tables

-- Create dummy table (SQL)
-- HINT: If you get 'readonly database' error check file write permissinons
CREATE TABLE dummy (id INTEGER PRIMARY KEY, data TEXT NOT NULL);

-- Show tables
.tables

-- Show command that was used to create given table
.schema dummy

-- Insert some data into table
INSERT INTO dummy VALUES (1, "Foo"), (2, "Bar");

-- Select values from table
SELECT * FROM dummy;

-- If you do not like default ouput format
.headers on
.mode column

-- Select values from table
SELECT * FROM dummy;

-- Drop table
DROP TABLE dummy;

-- Exit from database
.quit
```

Clenaup:

In [ ]:
! rm -f /tmp/sqlite.db